.cases {

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: no-repeat center center;
		background-size: cover;
		width: 100%;
		min-height: 20rem;

		@include above (sm) {
			min-height: 35rem;
		}

		@include above (md) {
			width: 25%;
		}

		@include between (xs, md) {
			width: 50%;	
		}

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($blue, .5);
		}

		&:hover {
			.cases__btn i {
				background: $blue-light;
			}
		}
	}

	&__header {
		padding-top: 1.5rem;
	}

	&__cat {
		margin-top: 0;
		color: $blue-light;
		text-transform: uppercase;
		font-weight: 600;
	}

	&__title {
		color: $white;
		margin-top: 0;
	}

	&__header, &__btn {
		position: relative;
		z-index: 1;
	}

	&__btn {
		color: $white;
		font-weight: 600;
		text-align: right;
		margin-bottom: 2rem;

		i {
			border: 2px solid $blue-light;
			padding: .5rem .8rem;
			border-radius: 50%;
			margin-left: 1rem;
			transition: all ease .3s;
		}
	}
}