.link-boxes {
 
	&__header {
		margin-top: 0;
		margin-bottom: 3rem;
	}

	&__container {

	}

	&__item {
		background: $gray;
		padding-bottom: 1rem;
		color: $color-font-body;
		font-size: 14px;
		margin: 1rem;
		padding-bottom: 4rem;

		@include between (xs, sm) {
			width: calc(50% - 2rem);
		}

		@include above (sm) {
			width: calc(25% - 2rem);
		}

		&:hover {
			.link-boxes__img {
				transform: scale(1.1);
			}
		}
	}

	&__wrap {
		width: calc(100% + 2rem);
		left: -1rem;
		position: relative;	
		background: $blue;
		overflow: hidden;
	}

	&__img {
		opacity: .5;
		transition: all ease .3s;
	}

	&__icon {
		
	}

	&__title {
		margin-top: 2rem;
	}

	&__btn {
		color: $blue-light;
		font-weight: 600;
		margin-top: 1.5rem;
		position: absolute;
		bottom: 1rem;
	}

	&__link {
		margin-top: 3rem;
	}
}