.toolbar {
	position: absolute;
	z-index: 100;
	width: 100%;
	display: none;

	@include above (sm) {
		display: block;
	}

	&__item {
		margin-left: 1rem;
		font-size: 14px;
		font-weight: 600;

		@include above (sm) {
			padding: 0rem .5rem;
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $blue;
			}
		}
	}
}